<nav>
	<ul>
		<li><a href="{% if page.page == "index" %}{{site.data.links.path}}{% else %}{{site.data.links.childpath}}{% endif %}about">About</a></li>
		<li><a href="{% if page.page == "index" %}{{site.data.links.path}}{% else %}{{site.data.links.childpath}}{% endif %}confluence">Confluence</a></li>
		<li><a href="{% if page.page == "index" %}{{site.data.links.path}}{% else %}{{site.data.links.childpath}}{% endif %}visions-of-time">Visions of Time</a></li>
		<li><a href="{% if page.page == "index" %}{{site.data.links.path}}{% else %}{{site.data.links.childpath}}{% endif %}stillness">Stillness</a></li>
		<li><a href="{% if page.page == "index" %}{{site.data.links.path}}{% else %}{{site.data.links.childpath}}{% endif %}beholding">Beholding</a></li>
		<li><a href="{% if page.page == "index" %}{{site.data.links.path}}{% else %}{{site.data.links.childpath}}{% endif %}in-arabian-nights">In Arabian Nights</a></li>
		<li><a href="{% if page.page == "index" %}{{site.data.links.path}}{% else %}{{site.data.links.childpath}}{% endif %}thresholds">Thresholds</a></li>
	</ul>
</nav>