@media #{$small-up} {
	section {
		&.content {
			&.index {
				> .row {
					> .columns {
						&.welcome {
							background: url('#{$covers}/welcome.jpg') no-repeat; 
							background-size: cover;
							background-position:center;
						}
						&.thresholds {
							background: url('#{$covers}/thresholds.jpg') no-repeat; 
							background-size: cover;
							background-position:center;
						}
						&.stillness {
							background: url('#{$covers}/stillness.jpg') no-repeat; 
							background-size: cover;
							background-position:center;
						}
						&.visions-of-time {
							background: url('#{$covers}/visions-of-time.jpg') no-repeat; 
							background-size: cover;
							background-position:center;
						}
						&.beholding {
							background: url('#{$covers}/beholding.jpg') no-repeat; 
							background-size: cover;
							background-position:center;
						}
						&.in-arabian-nights {
							background: url('#{$covers}/in-arabian-nights.jpg') no-repeat; 
							background-size: cover;
							background-position:center;
						}
						&.exhibitions {
							background: url('#{$covers}/exhibitions.jpg') no-repeat; 
							background-size: cover;
							background-position:center;
						}
					}
				}
			}
			&.gallery {
				> .row {
					> .columns {
						.cover {
							// Thresholds
							&.window {
								background: url('#{$gallery}/thresholds/7.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.millhouse {
								background: url('#{$gallery}/thresholds/1.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.houses {
								background: url('#{$gallery}/thresholds/4.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.fisherman {
								background: url('#{$gallery}/thresholds/fishermansrefuge.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.olivestreet {
								background: url('#{$gallery}/thresholds/newolivestreet.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.stairs2 {
								background: url('#{$gallery}/thresholds/8.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.hall {
								background: url('#{$gallery}/thresholds/11.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.doors {
								background: url('#{$gallery}/thresholds/12.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.com1 {
								background: url('#{$gallery}/thresholds/comm001.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.com2 {
								background: url('#{$gallery}/thresholds/comm002.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.com3 {
								background: url('#{$gallery}/thresholds/comm003.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							// stillness
							&.snakeflower {
								background: url('#{$gallery}/stillness/2.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.whiteflower {
								background: url('#{$gallery}/stillness/3.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.fishflowers {
								background: url('#{$gallery}/stillness/5.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.tallflower {
								background: url('#{$gallery}/stillness/6.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.tworoses {
								background: url('#{$gallery}/stillness/7.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.trees {
								background: url('#{$gallery}/stillness/9.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.house {
								background: url('#{$gallery}/stillness/escape.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.sunflower {
								background: url('#{$gallery}/stillness/flowers.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.nature {
								background: url('#{$gallery}/stillness/fragilenature.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.illumination {
								background: url('#{$gallery}/stillness/illumination.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.landsview {
								background: url('#{$gallery}/stillness/landisview1.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.landsview2 {
								background: url('#{$gallery}/stillness/landisview2.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.petals {
								background: url('#{$gallery}/stillness/seapetals.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.stairs {
								background: url('#{$gallery}/stillness/stairs.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.thefog {
								background: url('#{$gallery}/stillness/thefog.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.tree {
								background: url('#{$gallery}/stillness/tree.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.wraithlight {
								background: url('#{$gallery}/stillness/wraithlight.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							// Vision of time 
							&.visionsoftime1 {
								background: url('#{$gallery}/visions-of-time/visionsoftime1.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.visionsoftime2 {
								background: url('#{$gallery}/visions-of-time/visionsoftime2.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.visionsoftime3 {
								background: url('#{$gallery}/visions-of-time/visionsoftime003.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.visionsoftime4 {
								background: url('#{$gallery}/visions-of-time/visionsoftime004.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.visionsoftime7 {
								background: url('#{$gallery}/visions-of-time/visionsoftime007.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.visionsoftime8 {
								background: url('#{$gallery}/visions-of-time/visionsoftime008.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.visionsoftime19 {
								background: url('#{$gallery}/visions-of-time/visionsoftime019.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.visionsoftime20 {
								background: url('#{$gallery}/visions-of-time/visionsoftime020.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.visionsoftime21 {
								background: url('#{$gallery}/visions-of-time/visionsoftime021.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.visionsoftime22 {
								background: url('#{$gallery}/visions-of-time/visionsoftime022.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.visionsoftime28 {
								background: url('#{$gallery}/visions-of-time/visionsoftime028.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							// Beholding
							&.woodenflowers {
								background: url('#{$gallery}/beholding/large/1.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.sharpflower {
								background: url('#{$gallery}/beholding/large/2.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.painting {
								background: url('#{$gallery}/beholding/large/3.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.spiral {
								background: url('#{$gallery}/beholding/large/4.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.winecorgs {
								background: url('#{$gallery}/beholding/large/5.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.driedflower {
								background: url('#{$gallery}/beholding/large/6.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.rosesinwater {
								background: url('#{$gallery}/beholding/large/7.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.rope {
								background: url('#{$gallery}/beholding/large/8.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.gate {
								background: url('#{$gallery}/beholding/large/10.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.nail {
								background: url('#{$gallery}/beholding/large/9.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.flowersinwater {
								background: url('#{$gallery}/beholding/large/flowers.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.child {
								background: url('#{$gallery}/beholding/large/11.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							// In arabian nights
							&.cryingman {
								background: url('#{$gallery}/in-arabian-nights/large/1.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.arabic {
								background: url('#{$gallery}/in-arabian-nights/large/2.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.speech {
								background: url('#{$gallery}/in-arabian-nights/large/3.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.arabiccorridor {
								background: url('#{$gallery}/in-arabian-nights/large/4.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.camel {
								background: url('#{$gallery}/in-arabian-nights/large/5.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.aladin {
								background: url('#{$gallery}/in-arabian-nights/large/6.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.mask {
								background: url('#{$gallery}/in-arabian-nights/large/7.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.weirdcorridor {
								background: url('#{$gallery}/in-arabian-nights/large/8.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
						}
					}
				}
			}
		}
	}
}

@media #{$medium-up} {}

@media #{$medium-up} {
	section {
		&.content {
			&.index {
				> .row {
					> .columns {
						&.welcome {
							background: url('#{$covers}/large/welcome.jpg') no-repeat; 
							background-size: cover;
							background-position:center;
						}
						&.thresholds {
							background: url('#{$covers}/large/thresholds.jpg') no-repeat; 
							background-size: cover;
							background-position:center;
						}
						&.stillness {
							background: url('#{$covers}/large/stillness.jpg') no-repeat; 
							background-size: cover;
							background-position:center;
						}
						&.visions-of-time {
							background: url('#{$covers}/large/visions-of-time.jpg') no-repeat; 
							background-size: cover;
							background-position:center;
						}
						&.beholding {
							background: url('#{$covers}/large/beholding.jpg') no-repeat; 
							background-size: cover;
							background-position:center;
						}
						&.in-arabian-nights {
							background: url('#{$covers}/large/in-arabian-nights.jpg') no-repeat; 
							background-size: cover;
							background-position:center;
						}
						&.exhibitions {
							background: url('#{$covers}/large/exhibitions.jpg') no-repeat; 
							background-size: cover;
							background-position:center;
						}
					}
				}
			}
			&.gallery {
				> .row {
					> .columns {
						.cover {
							// Thresholds
							&.window {
								background: url('#{$gallery}/thresholds/large/7.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.millhouse {
								background: url('#{$gallery}/thresholds/large/1.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.houses {
								background: url('#{$gallery}/thresholds/large/4.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.fisherman {
								background: url('#{$gallery}/thresholds/large/fishermansrefuge.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.olivestreet {
								background: url('#{$gallery}/thresholds/large/newolivestreet.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.stairs2 {
								background: url('#{$gallery}/thresholds/large/8.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.hall {
								background: url('#{$gallery}/thresholds/large/11.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.doors {
								background: url('#{$gallery}/thresholds/large/12.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.com1 {
								background: url('#{$gallery}/thresholds/large/comm001.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.com2 {
								background: url('#{$gallery}/thresholds/large/comm002.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.com3 {
								background: url('#{$gallery}/thresholds/large/comm003.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							// stillness
							&.snakeflower {
								background: url('#{$gallery}/stillness/large/2.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.whiteflower {
								background: url('#{$gallery}/stillness/large/3.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.fishflowers {
								background: url('#{$gallery}/stillness/large/5.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.tallflower {
								background: url('#{$gallery}/stillness/large/6.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.tworoses {
								background: url('#{$gallery}/stillness/large/7.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.trees {
								background: url('#{$gallery}/stillness/large/9.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.house {
								background: url('#{$gallery}/stillness/large/escape.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.sunflower {
								background: url('#{$gallery}/stillness/large/flowers.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.nature {
								background: url('#{$gallery}/stillness/large/fragilenature.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.illumination {
								background: url('#{$gallery}/stillness/large/illumination.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.landsview {
								background: url('#{$gallery}/stillness/large/landisview1.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.landsview2 {
								background: url('#{$gallery}/stillness/large/landisview2.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.petals {
								background: url('#{$gallery}/stillness/large/seapetals.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.stairs {
								background: url('#{$gallery}/stillness/large/stairs.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.thefog {
								background: url('#{$gallery}/stillness/large/thefog.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.tree {
								background: url('#{$gallery}/stillness/large/tree.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.wraithlight {
								background: url('#{$gallery}/stillness/large/wraithlight.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							// Vision of time 
							&.visionsoftime1 {
								background: url('#{$gallery}/visions-of-time/large/visionsoftime1.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.visionsoftime2 {
								background: url('#{$gallery}/visions-of-time/large/visionsoftime2.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.visionsoftime3 {
								background: url('#{$gallery}/visions-of-time/large/visionsoftime003.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.visionsoftime4 {
								background: url('#{$gallery}/visions-of-time/large/visionsoftime004.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.visionsoftime7 {
								background: url('#{$gallery}/visions-of-time/large/visionsoftime007.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.visionsoftime8 {
								background: url('#{$gallery}/visions-of-time/large/visionsoftime008.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.visionsoftime19 {
								background: url('#{$gallery}/visions-of-time/large/visionsoftime019.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.visionsoftime20 {
								background: url('#{$gallery}/visions-of-time/large/visionsoftime020.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.visionsoftime21 {
								background: url('#{$gallery}/visions-of-time/large/visionsoftime021.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.visionsoftime22 {
								background: url('#{$gallery}/visions-of-time/large/visionsoftime022.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.visionsoftime28 {
								background: url('#{$gallery}/visions-of-time/large/visionsoftime028.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							// Beholding
							&.woodenflowers {
								background: url('#{$gallery}/beholding/large/1.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.sharpflower {
								background: url('#{$gallery}/beholding/large/2.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.painting {
								background: url('#{$gallery}/beholding/large/3.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.spiral {
								background: url('#{$gallery}/beholding/large/4.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.winecorgs {
								background: url('#{$gallery}/beholding/large/5.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.driedflower {
								background: url('#{$gallery}/beholding/large/6.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.rosesinwater {
								background: url('#{$gallery}/beholding/large/7.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.rope {
								background: url('#{$gallery}/beholding/large/8.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.gate {
								background: url('#{$gallery}/beholding/large/10.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.nail {
								background: url('#{$gallery}/beholding/large/9.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.flowersinwater {
								background: url('#{$gallery}/beholding/large/flowers.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.child {
								background: url('#{$gallery}/beholding/large/11.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							// In arabian nights
							&.cryingman {
								background: url('#{$gallery}/in-arabian-nights/large/1.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.arabic {
								background: url('#{$gallery}/in-arabian-nights/large/2.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.speech {
								background: url('#{$gallery}/in-arabian-nights/large/3.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.arabiccorridor {
								background: url('#{$gallery}/in-arabian-nights/large/4.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.camel {
								background: url('#{$gallery}/in-arabian-nights/large/5.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.aladin {
								background: url('#{$gallery}/in-arabian-nights/large/6.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.mask {
								background: url('#{$gallery}/in-arabian-nights/large/7.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
							&.weirdcorridor {
								background: url('#{$gallery}/in-arabian-nights/large/8.jpg') no-repeat; 
								background-size: cover;
								background-position:center center;
							}
						}
					}
				}
			}
		}
	}
}
