@media #{$small-up} {
	h1, h2, h3, h4, p, a, {
		font-family: 'Oranienbaum', serif;
	}
	h1 {
		font-size:2rem;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color:white;
		text-shadow: 1px 1px #000;
		> span {
			display:block;
		}
	}
	h2 {
		font-size:1.3rem;
		margin-bottom:40px;
		letter-spacing: 0.15em;
		text-transform: uppercase;
		color:$black;
		text-align:center;
	}
	p {
		color:white;
		letter-spacing: 0.1em;
		letter-spacing: 0.05em;
		font-size: 1.1rem;
		font-family: 'Ubuntu', sans-serif;
		font-weight:300;
		> span {
			display:block;
			padding-top:10px;
			font-size: 0.9rem;
		}
		&.title {
			font-family: 'Oranienbaum', serif;
			font-weight: normal;
		}
		&.small {
			font-size:0.8rem;
			text-transform:capitalize;
		}
		&.telephone {
			text-transform:uppercase;
		}
		&.dark {
			color:$darkblue;
			font-size:0.7rem;
			> span {
				display: block;
				text-align: right;
				font-size: 0.5rem;
				padding-top:10px;
			}
		}
		&.quote {
			border:2px solid $grey;
			padding:20px;
		}
	}
}

@media #{$medium-up} {
	h2 {
		text-align:left;
	}
	p {
		> span {
			font-size: 1.1rem;
		}
	}
}

@media #{$large-up} {
	h1 {
		font-size:2.5rem;
	}
	h2 {
		font-size:1.5rem;
	}
	p {
		&.dark {
			font-size:0.9rem;
			> span {
				font-size: 0.7rem;
			}
		}
	}
}