$covers: "../assets/images/content/covers"; 
$gallery: "../assets/images/content/gallery"; 
$darkblue: #11102A;
$blue: #000068;
$grey: #ebebeb;

$black: #383838;

$largepadding: 40px;
$padding:20px;
$padding-top:20px;
$padding-bottom:20px;