<!DOCTYPE html>
<html class="no-js" lang="en">
	{% include head.html %}
	<body>
		<div id="site-wrapper">
			<div id="site-canvas">
				<div id="site-menu">
					{% include menu/offcanvas.html %}
				</div>
				{% include header/content.html %}
				{% if page.page == "index" %}
					{% else %}
						<div class="curtain">
							<div class="text-holder">
								<div class="text-wrapper">
									<h1>{{page.page}}</h1>
									<h2>Laura Hudson</h2>
								</div>
							</div>
						</div>
						<div class="curtain-back"></div>
				{% endif %}
				{{ content }}
			</div>
		</div>
	</body>
	<script src="{% if page.page == "index" %}{{site.data.links.path}}{% else %}{{site.data.links.childpath}}{% endif %}static/laurahudson.js"></script>
</html>
